
.products-n-filters {
    position: relative;
    height: 80vh;
    display: flex;
    margin: auto;
    width: 95%;
    padding-bottom: 1.5rem;
}


.clear-filters-btn {
    height: 1.65rem;
    padding: .3rem;
    width: 14%;
    border-radius: 3px;
    margin-right: .3rem;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.search-bar-area {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .clear-filters-btn {
        display: none;
    }
}

