@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::after,*::before {
  margin: 0;
}


:root {
  --grey1: #d3d3d3;
  --grey2:#778899;
  --grey3:#696969;
  --head: #2C2C2C;
}

body {
  font-family: 'Raleway', sans-serif;
  -ms-text-overflow: none; /* Edge */
  scrollbar-width: none;  /* Firebox */
  background-color: var(--grey1);
}

input {
  font-family: 'Raleway', sans-serif;
}

/* chrome, safari and Opera */
::-webkit-scrollbar{
  display: none;
}

.header {
  background-color: var(--head);
  color: black;
}

.qty-badge, .add-to-cart-btn, .apply-filters-mobile, .qty-control-button button, .clear-filters-mobile-btn, .clear-filters-btn {
  background-color: var(--grey3);
  color: white;
}

.filter-btn-mobile {
  filter: invert(31%) sepia(24%) saturate(398%) hue-rotate(131deg) brightness(92%) contrast(94%);
}

.product-card, .filter-panel {
  background-color: white;
}